# fastapi
# uvicorn[standard]
# parselmouth       # 음성 분석, jitter/shimmer (임시 비활성화)
librosa
opencv-python
numpy
scipy
scikit-learn
python-multipart
python-dotenv
google-cloud-aiplatform
google-cloud-bigquery
httpx
mediapipe
torch
scikit-learn
numpy
soundfile
audioread
# rppg-toolbox @ git+https://github.com/ubicomplab/rPPG-Toolbox.git
# 기타 필요한 AI 모델 라이브러리 (예: transformers, pydantic 등)
# 기타 필요 패키지

